body, p {
     font-family: helvetica, sans-serif;
     font-size: 11pt;
}

h1, h2, h3, h4, h5, h6 {
     font-family: helvetica, sans-serif;
     font-weight: bold;
}

h1 { font-size: 22pt; } 
h2 { font-size: 18pt; }
h3 { font-size: 14pt; } 
h4 { font-size: 12pt; }
h5 { font-size: 10pt; }
h6 { font-size: 9pt;  }

p.trailer, a.trailer:link, a.trailer:active, a.trailer:visited {
     font-family: helvetica, sans-serif;
     font-weight: normal;
     font-size:   10pt;
}

a:link {
     font-family: helvetica, sans-serif;
     font-weight: bold;
}

a:visited {
     font-family: helvetica, sans-serif;
     font-weight: bold;
}

a:active {
     font-family: helvetica, sans-serif;
     font-weight: bold;
}

ul {
     font-family: helvetica, sans-serif;
     font-weight: normal;
     list-style-type: disc; 
}
